body {
  font-family: Arial, sans-serif;
  background-color: DarkSlateGray;
  color: White;
}

h3 {
  font-size: 30px;
}

button {
	padding-top: 50px; /* Gives it it's "space", kind of like width and height */
	padding-bottom: 50px; /* Gives it it's "space", kind of like width and height */
	padding-left: 75px; /* Gives it it's "space", kind of like width and height */
	padding-right: 75px; /* Gives it it's "space", kind of like width and height */
	background-color: white; /* Makes button white */
	cursor: pointer; /* Means that the cursor will become a pointer when hovering over the button */
}
.heading {
  font-weight: bold;
  text-align: center;
  word-spacing: 0.1em;
}

.very-special-photos {
	height: 50%;
	width: 50%;
}

.quote {
	font-style: italic;
	font-family: "Time New Roman";
	color: black;
}

.button-names {
	text-align: center;
}

.button{
	color: white;
	margin: auto;
	text-align: center;
}

#welcome {
  font-size: 75px;
}

#a-sepcial-place {
	font-family: Luminari, "Times New Roman", serif;
}

#list_of_links {
	font-size: 40px;
}

#list_of_links :link {
	color: white;
	text-decoration: none;
}

#list_of_links :visited {
	color: white;
	text-decoration: none
}

#list_of_links :hover {
	color: lime;
	font-weight: bold;
}

#list_of_links :active {
	color: blue;
}

#useless {
	
}

#useless_button {
	color: red; /* Makes the text red */
	font-size: 20px; /* Makes the text slightly bigger */
	transition-duration: 0.4s; /* For transition animations */
	-webkit-transition-duration: 0.4s; /* To support tranisition animations on Safari */
	border: 2px solid red; /* Creates a red border */
}

#useless_button:hover {
	background-color: red;
	color: white;
	font-size: 30px;
}

#dissapearing-button {
	border: 2px solid purple;
}