body {
	color: white;
	background-color: orange;
	font-family: "Palanquin Dark";
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

button {
	margin: auto;
	text-align: center;
	display: block;
}

#watermelon {
	height:x;
}

#red {
	color: red;
}

#table4 {
	margin: auto;
	display: block;
}

.table {
	height: 300px;
	width: 300px;
}